.translate-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 85%;

  .translate-switch {
    color: #5B5C60;
    margin: 20px 10px;
    font-size: 25px;
    &:hover {
      color: white;
    }
    &_is-chosen {
      color: white;
    }
  }
}

