.register {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #269EE1;
  overflow: scroll;
}

.header {
  background-color: #353336;
  color: white;
  width: 100%;
  padding: 15px 0;
  font-size: 24px;
  img {
    height: 60px;
    margin-left: 20px;
  }
}

.header-logo {
  margin-left: 20px;
  padding: 10px;
  border-radius: 35px;
  text-transform: capitalize;
}
.language-container {
  justify-self: flex-end;
  margin-bottom: 10px;
}

.partner-sponsor {
  img {
    width: 100%;
    height: 120px;
  }
}
