<div class="entrance container">
  <div class="entrance__title">{{"ENTRY.WELCOME" | translate}}</div>
  <div class="entrance__description">{{"ENTRY.WHATTODO" | translate}}</div>
  <div class="entrance__action">
    <span class="material-icons">
      qr_code_scanner
    </span>
    <div class="entrance__action-content" routerLink="/scan">
      <div class="entrance__action-title">
        {{"ENTRY.GUEST" | translate}}
      </div>
      <div class="entrance__action-description">
        {{"ENTRY.GUESTDESCR" | translate}}
      </div>
    </div>
  </div>
  <div class="entrance__action">
    <span class="material-icons">
      supervisor_account
    </span>
    <div class="entrance__action-content">
      <div class="entrance__action-title">
        {{"ENTRY.ORG" | translate}}
      </div>
      <div class="entrance__action-description">
        {{"ENTRY.ORGDESCR" | translate}}
      </div>
    </div>
  </div>
</div>
