.entrance {
  color: white;
  .entrance__title {
    font-size: 36px;
    margin: 15px 0;
  }
  .entrance__description {
    font-size: 18px;
  }
}

.entrance__action {
  width: 99%;
  margin: 10px auto;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  .material-icons {
    padding-left: 10px;
    font-size: 45px;
  }
  .entrance__action-content {
    margin-left: 10px;
    font-size: 18px;
  }

  .entrance__action-title {
    font-size: 18px;
    font-weight: bold;
  }
}
